.markdown--content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $lato;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  blockquote {
    background-color: lighten($light-blue, 16);
    margin: 0;
    padding: 1em 40px 1em 40px;
    border-radius: 5px;
  }

  pre {
    padding: $large-spacing;
    border-radius: 5px;
    color: #9299A7;
    background-color: #1E2127;
  }

  // hr {
  //   background-color: $dark-grey;
  //   border: 0.3px solid;
  // }
}
