// Partials in SCSS
@import 'partials/base.scss';

// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: -1px;
    padding: $large-spacing;

    .navbar-brand--link {
      color: black;
    }
  }

  .navbar-menu {
    display: flex;
    padding: 0 $medium-spacing;

    .navbar-menu--link {
      padding: $medium-spacing;
      color: $light-grey;
      font-family: $lato;
    }

    .cursor {
      cursor: pointer;
    }

    .active {
      color: $primary;
    }
  }
}

// Misc
.banner-photo {
  width: 100%;
}

.legal-disclaimer {
  padding: $small-spacing;
  color: $light-grey;
  text-align: center;
  font-size: 0.7em;
}

// Articles
.articles {
  padding-top: $xxlarge-spacing;

  .article-preview {
    padding: $medium-spacing 0;

    div {
      padding: $small-spacing 0;
    }

    .article-preview--title {
      font-family: $lato;
      font-size: 1.5em;
    }

    .article-preview--content {
      color: $dark-grey;
      font-size: 0.95em;
      line-height: 1.5em;
    }

    .article-preview--read-more {
      text-align: right;
      font-family: $lato;
    }

    .article-preview--tags {
      font-family: $lato;
    }
  }
}

// Responsive container
@media (max-width: 720px) {
  .container {
    padding-left: $xlarge-spacing;
    padding-right: $xlarge-spacing;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 720px) {
  .container {
    padding-left: $xxlarge-spacing;
    padding-right: $xxlarge-spacing;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
}
