// Library
@import 'partials/hamburgers';
@import '~hamburgers/_sass/hamburgers/hamburgers';

// Partials in SCSS
@import 'partials/base';
// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-brand {
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: -1px;
    padding: $large-spacing;

    &--link {
      color: black;
    }
  }

  &-menu {
    display: flex;
    padding: 0 $medium-spacing;
    transition: left 0.5s ease-in-out;

    &--link {
      padding: $medium-spacing;
      color: $light-grey;
      font-family: $lato;
      cursor: pointer;
      outline: none;
    }

    .cursor {
      cursor: pointer;
    }

    .is-active {
      color: $light-blue;
    }
  }
}

// Misc
.banner-photo {
  width: 100%;
}

.legal-disclaimer {
  margin-bottom: $medium-spacing;
  padding: $small-spacing;
  color: $light-grey;
  text-align: center;
  font-size: 0.7em;
}

// Articles
.articles {
  // padding-top: $xxlarge-spacing;

  .article {
    padding: $medium-spacing 0;

    div {
      padding: $small-spacing 0;
    }

    &--title {
      font-family: $lato;
      font-size: 1.5em;
    }

    &--content {
      color: $dark-grey;
      font-size: 0.95em;
      line-height: 1.5em;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }

    &--date {
      text-align: right;
      color: $dark-grey;
      font-size: 0.8em;
    }

    &--read-more {
      text-align: right;
      font-family: $lato;
    }

    &--tags {
      font-family: $lato;
    }
  }
}

.contact {
  padding: $xxlarge-spacing 0;
  padding-top: 0;
  max-width: 400px;
  margin: auto;

  &--introduction {
    padding: $medium-spacing 0;
  }

  &--form {
    label {
      padding: $small-spacing 0;
      font-family: $lato;
      font-weight: 400;
      display: block;

      span {
        padding: 0 $small-spacing;
      }

      input, textarea {
        margin-top: $medium-spacing;
        margin-bottom: $large-spacing;
        padding: $medium-spacing;
        color: $dark-grey;
        border-radius: 7px;
      }

      textarea {
        min-height: 120px;
        resize: vertical;
      }
    }

    &-submit {
      padding: $small-spacing 0;
      font-family: $lato;
      background-color: white;
      color: $light-blue;
      border: none;
      font-weight: 700;
      border-radius: 30px;
      border: 2px solid $light-blue;

      &:hover {
        color: white;
        background-color: $light-blue;
      }
    }
  }
}

.not-found {
  text-align: center;
  padding: $xxlarge-spacing 0;

  &--404 {
    font-size: 3em;
    font-weight: 900;
  }

  &--text {
    font-size: 3em;
    padding-bottom: $xxlarge-spacing;
  }

  &--proposition {
  }
}

// Responsive container
.container {
  margin-left: auto;
  margin-right: auto;
}

// iPhone 5S & SE | 4' screen
@media (min-width : 320px) and (max-width : 568px) {
  .navbar-menu {
    // display: none;
  }
}

// iPhone 6 | 4.7' screen
@media (min-width : 375px) and (max-width : 667px) {
  .navbar-menu {
    // display: none;
  }
}

// iPhone 6 plus | 5.5' screen
@media (min-width : 414px) and (max-width : 736px) {
  .navbar-menu {
    // display: none;
  }
}

@media (max-width: 736px) {
  .container {
    padding-left: $xlarge-spacing;
    padding-right: $xlarge-spacing;
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    box-shadow: 2px 0px 6px -1px #939393;
    height: 100%;
    min-width: 200px;
    padding: 0 $xlarge-spacing !important;

    &--link:first-child {
      padding-top: $xxlarge-spacing !important;
    }

    &--link {
      font-size: 1.3em;
    }
  }
}

@media (min-width: 736px) {
  .container {
    padding-left: $xxlarge-spacing;
    padding-right: $xxlarge-spacing;
    max-width: 720px;
  }

  .navbar-menu-button {
    display: none !important;
  }
}
